<aside>
    <div>
        <img src="" alt="">
   
    
    <h3>Autor</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi sapiente quam placeat optio, aliquam est nobis reiciendis aliquid, ut nemo et pariatur ducimus dicta, autem blanditiis fugiat incidunt esse delectus.</p>
</div>
<div>
    <ul>
        <li>Sección 1</li>
        <li>Sección 2</li>
        <li>Sección 3</li>
        <li>Sección 4</li>
        <li>Sección 5</li>
    </ul>
    <ul>
        <li>Sección 1</li>
        <li>Sección 2</li>
        <li>Sección 3</li>
        <li>Sección 4</li>
        <li>Sección 5</li>
    </ul>
</div>
</aside>