<aside class="aside">
    <div class="author">
        <img class="author__img" src="/images/perrito.jpg" alt="">
   
    
    <h3>Autor</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi sapiente quam placeat optio, aliquam est nobis reiciendis aliquid, ut nemo et pariatur ducimus dicta, autem blanditiis fugiat incidunt esse delectus.</p>
</div>
<div class="lists">
    <ul class="lists__sections">
        <li>Sección 1</li>
        <li>Sección 2</li>
        <li>Sección 3</li>
        <li>Sección 4</li>
        <li>Sección 5</li>
    </ul>
    <ul class="lists__categories">
        <li>Categoría 1</li>
        <li>Categoría 2</li>
        <li>Categoría 3</li>
        <li>Categoría 4</li>
        <li>Categoría 5</li>
    </ul>
</div>
</aside>